# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Data (Optional: keeping small CSVs for portfolio impact, but ignoring others)
# netflix_titles.csv
# clean_netflix_titles.csv

# Thumbnails and OS files
.DS_Store
Thumbs.db
